<!DOCTYPE html>
<html>
<head>
 <title>Annyang</title>
 <script src="annyang.min.js"></script>
 <script src="jquery.js"></script>
 <script src="/socket.io/socket.io.js"></script>
 <script src="main.js"></script>  
    
  </head>
  <body>
    <h1>Nói để điều khiển</h1>
  </body>
</html>